<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loan.mapper.SysUserMapper">
    <select id="selectByPhone" resultType="com.loan.entity.SysUser">
        SELECT user_id as userId, phone, password , real_name as realName, role, status,kyc_status
        FROM sys_user
        WHERE phone = #{phone}
    </select>

    <insert id="insert" parameterType="com.loan.entity.SysUser">
        INSERT INTO sys_user (user_id, phone, password, real_name, role, status)
        VALUES (#{userId}, #{phone}, #{password}, #{realName}, #{role}, #{status})
    </insert>

    <select id="selectById" resultType="com.loan.entity.SysUser">
        SELECT user_id , phone, real_name , role, status,kyc_status
        FROM sys_user
        WHERE user_id = #{userId}
    </select>

    <update id="updateAccountBalance">
        UPDATE sys_user
        SET account_balance = account_balance + #{amount}, update_time = CURRENT_TIMESTAMP
        WHERE user_id = #{userId}
    </update>

    <select id="selectAccountBalance" resultType="java.math.BigDecimal">
        SELECT account_balance FROM sys_user WHERE user_id = #{userId}
    </select>

    <update id="updateKycStatus">
        UPDATE sys_user SET kyc_status = #{status}, user_real_name = #{realName} WHERE user_id = #{userId}
    </update>
</mapper>